<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Welcome to PopcornMDB</h1>
    <p>Welcome Ironhacker!</p>

<a href="/movies/" class="btn btn-primary">Movies</a>
    <div class="d-flex flex-row flex-wrap justify-content-around">
        {{#each movies}}
          <div class="m-2" style="width: 200px;">
              <img src="https://image.tmdb.org/t/p/w200/{{this.poster_path}}" alt="">
              <h5>{{this.title}}</h3>
              <p>Score: {{this.vote_average}} </p>
          </div>
        {{/each}}
    </div>
</div>
