
<div class="text-center mt-4">
  <h1>Signup</h1>
  <div class="col-md-6 mx-auto">
    <div class="card p-4">
      <div class="d-flex justify-content-center">
        <form class="form-inline mt-3 w-100" action="/signup" method="POST" enctype="multipart/form-data">
          <label class="sr-only" for="inlineFormInputName2"></label>
          <input type="text" name="username" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Username">

          <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">@</div>
            </div>
            <input type="text" name="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="email@email.com">
          </div>

          <div class="form-group mb-2">
            <label for="inputPassword6"></label>
            <input type="password" name="password" id="inputPassword6" class="form-control mx-sm-0" aria-describedby="passwordHelpInline" placeholder="Password">
          </div>

          <div class="mb-3">
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" id="formFile" name="profileImg">
          </div>
          <button type="submit" class="btn btn-warning mb-2">Create Account</button>

          {{#if errorMessage}}
            <div class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
              {{errorMessage}}
            </div>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>







