
<div class="text-center mt-4">
  <h1 style="font-family: 'Bungee Inline', cursive;">Signup</h1>

<div class="d-flex justify-content-center">
  <form class="form-inline mt-3 w-50"action="/signup" method="POST" enctype="multipart/form-data">
    <label class="sr-only" for="inlineFormInputName2">Username</label>
    <input type="text" name="username" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Username">

    <label class="sr-only" for="inlineFormInputGroupUsername2">Email</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" name="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="rockstar@ironhack.com">
    </div>

    <div class="form-group mb-2">
      <label for="inputPassword6">Password</label>
      <input type="password" name="password" id="inputPassword6" class="form-control mx-sm-0" aria-describedby="passwordHelpInline" placeholder="********">
    </div>


    <div class="mb-3">
  <label for="formFile" class="form-label">Profile Picture</label>
  <input class="form-control" type="file" id="formFile" name="profileImg">
</div>
    <button type="submit" class="btn btn-warning mb-2">Create Account</button>

    {{#if errorMessage}}
        <div class="p-3 text-danger-emphasis bg-danger-subtle border border-danger-subtle rounded-3">
          {{errorMessage}}
        </div>
    {{/if}}
  </form>
</div>
</div>







