<div class="container text-center">
  <h1 class="my-4" style="font-family: 'Bungee Inline', cursive;">YOUR MOVIES</h1>
  <a href="/movies/create" class="btn btn-warning">Create movie</a>
  <a href="/movies" class="btn btn-warning">All movies</a>
  
<div class="d-flex flex-row flex-wrap justify-content-center mt-4">
    {{#each movies}}
<div class="card m-2" style="width: 18rem; height: 28rem">
  <div style="background-image: url({{this.movieImg}}); width:100%; height:320px; background-size:cover"></div>
  <div class="card-body">
    <h5 class="card-title" style="font-family: 'Bebas Neue', sans-serif;">{{this.title}}</h5>
    <p class="card-text" style="width: auto;">Score: <strong>{{this.averageScore}}</strong></p>
    <a href="/movie/{{this._id}}" class="btn btn-warning">Make review</a>
  </div>
</div>
    {{/each}}
  </div>
</div>